.mapContainer {
  height: 600px;
  margin-top: 0.5em;
  /* box-shadow: 1px 1px 5px black; */
}

.map-placeholder {
  height: 90vh;
  display: none;
  color: white;
}

.mapContainer.full-screen {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 75px);
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
}

.mapboxgl-popup-content {
  padding: 10px;
}

.mapboxgl-popup-content > h4 {
  margin: 0;
}
.mapboxgl-ctrl-icon, .mapboxgl-ctrl > button {
  margin: 0;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.legend {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 0.5em 1em;
  z-index: 1; /* Allow maps-control-box to overlay */
  width: 140px;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  user-select: none;
}

.legend > h4 {
  margin-top: 0.5em;
}

.legWrap {
  height: 22px;
  margin-bottom: 4px;
}

.legColor {
  display: inline-block;
  width: 40px;
  height:20px;
  border: 1px solid black;
  margin-right: 1em;
}

.legSpan {
  display: inline-block;
  vertical-align: top;
}


.filter-selections {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-selections > * {
  width: 49%;
}


.selected-label {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-family: 'SourceSansPro';
}

.selected-label.none {
  color: #999;
  font-size: 1.7rem;
}


.menu-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  border-bottom: 1px solid #000;
  margin-bottom: 2px;
  padding: 4px 0px;
}

.menu-group-label {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2px;
  padding-left: 2px;
}

.menu-group-badge {
  color: #fff !important; /* Override anchor styles */
  background-color: rgba(11,62,104,0.7);
  border-radius: 2em;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  min-width: 1;
  padding: .25em 0.5em .35em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
}

.maps-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.maps-header .maps-title {
  width: 80%;
  margin: 0;
}

.maps-header .control {
  color: black;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
  border-radius: 10px;
}

.maps-header .control.active,
.maps-header .control:hover {
  background: rgba(11,62,104,0.7);
  
}
.maps-header .control.active .icon,
.maps-header .control:hover .icon {
  filter: invert()
}

.maps-header .control .icon {
  width: 20px;
  height: 20px;
}

.maps-header .control:hover {
  cursor: pointer;
  background:rgba(11,62,104,0.7);
}

.maps-control-wrapper {
  position: absolute;
  left: 65px;
  top: 6px;
  user-select: none;
  z-index: 2;
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0px 1px 5px black;
}

.maps-control-wrapper .maps-title .inactive {
  color: #777;
}

.maps-control-box {
  display: flex;
  justify-content: space-around;
  padding: .5em;
  border-radius: 10px;
}

.maps-control-box > div:not(:first-child){
  margin-left: 1em;
}

.maps-control-box .text-selectors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.maps-control-box .TextSelector:not(:first-child),
.maps-control-box .filter:not(:first-child) {
  margin-top: .25em;
}

.maps-control-box .filter-selectors {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.maps-control-box .filter-selectors .filter {
  width: 100%;
  display: flex;
  align-items: center;
}

.maps-control-box .filter-selectors .filter > div { /* react-select container */
  width: 100%;
  margin-left: .5em;
}

.maps-control-wrapper .filter-clause {
  color: #777;
  font-weight: bold;
}

.maps-control-wrapper .filter-selectors .filter-clause {
  min-width: 75px;
  text-align: right;
  margin-left: .5em;
  margin-right: .5em;
}

.maps-control-wrapper .TextSelector,
.maps-control-wrapper .filter {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.maps-control-wrapper .TextSelector {
  border: 1px solid #ddd;
}

