.mapContainer {
  height: 600px;
  margin-top: 0.5em;
  /* box-shadow: 1px 1px 5px black; */
}

.map-placeholder {
  height: 90vh;
  display: none;
  color: white;
}

.mapContainer.full-screen {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 75px);
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
}

.mapboxgl-popup-content {
  padding: 10px;
}

.mapboxgl-popup-content > h4 {
  margin: 0;
}
.mapboxgl-ctrl-icon, .mapboxgl-ctrl > button {
  margin: 0;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.legend {
  position: absolute;
  bottom: 20px;
  right: 0;
  padding: 0.5em 1em;
  z-index: 1; /* Allow maps-control-box to overlay */
  width: 140px;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
  user-select: none;
}

.legend > h4 {
  margin-top: 0.5em;
}

.legWrap {
  height: 22px;
  margin-bottom: 4px;
}

.legColor {
  display: inline-block;
  width: 40px;
  height:20px;
  border: 1px solid black;
  margin-right: 1em;
}

.legSpan {
  display: inline-block;
  vertical-align: top;
}


.filter-selections {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-selections > * {
  width: 49%;
}


.selected-label {
  margin-top: 1rem;
  font-size: 1.7rem;
  font-family: 'SourceSansPro';
}

.selected-label.none {
  color: #999;
  font-size: 1.7rem;
}


.menu-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  border-bottom: 1px solid #000;
  margin-bottom: 2px;
  padding: 4px 0px;
}

.menu-group-label {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 2px;
  padding-left: 2px;
}

.menu-group-badge {
  color: #fff !important; /* Override anchor styles */
  background-color: rgba(11,62,104,0.7);
  border-radius: 2em;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  min-width: 1;
  padding: .25em 0.5em .35em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
}

.maps-header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: .5em 1em;
}

.maps-header .control {
  color: black;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
  border-radius: 10px;
}

.maps-header .control.active,
.maps-header .control:hover {
  background: rgba(11,62,104,0.7);
  
}
.maps-header .control.active .icon,
.maps-header .control:hover .icon {
  filter: invert()
}

.maps-header .control .icon {
  width: 20px;
  height: 20px;
}

.maps-header .control:hover {
  cursor: pointer;
  background:rgba(11,62,104,0.7);
}

.maps-control-wrapper {
  position: absolute;
  left: 65px;
  top: 6px;
  user-select: none;
  z-index: 2;
  background-color: #fff;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0px 1px 5px black;
}

.maps-control-box {
  display: flex;
  justify-content: space-around;
  padding: .5em;
  border-radius: 10px;
}

.maps-control-box > div:not(:first-child){
  margin-left: 1em;
}

.maps-control-box .text-selectors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.maps-control-box .TextSelector:not(:first-child),
.maps-control-box .filter:not(:first-child) {
  margin-top: .25em;
}

.maps-control-box .filter-selectors {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.maps-control-box .filter-selectors .filter {
  width: 100%;
  display: flex;
  align-items: center;
}

.maps-control-box .filter-selectors .filter > div { /* react-select container */
  width: 100%;
  margin-left: .5em;
}

.maps-control-wrapper .filter-clause {
  color: #777;
  font-weight: bold;
}


.maps-header .row2,
.maps-header .row3 {
  font-size: .9em;
  font-weight: bold;
  font-family: 'SourceSansPro';
  margin-top: .25em;
}

.maps-header .filter-clause {
  font-family: 'SourceSansProBold'
}

.maps-control-wrapper .filter-selectors .filter-clause {
  min-width: 75px;
  text-align: right;
  margin-left: .5em;
  margin-right: .5em;
}

.maps-control-wrapper .TextSelector,
.maps-control-wrapper .filter {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.maps-control-wrapper .TextSelector {
  border: 1px solid #ddd;
}

.mapContainer + .TableWrapper .title {
  cursor: pointer;
}


.reports-wrapper .reports table {
  width: 100%;
}

.reports-wrapper .reports th { 
  background: rgba(27, 152, 255, 0.1);
  background: #e5e5e2;
}

.reports-wrapper .reports .count {
  text-align: right;
}

.reports-wrapper .reports .highlight * {
  background:rgb(1,111, 123, .3);
}

.reports-wrapper .reports .highlight .highlight {
  background:rgb(1,111, 123, .5);
  font-weight: bold;
}

.reports-wrapper .reports td.spacer,
.reports-wrapper .reports th.group-header.spacer {
  border: none;
  background: none;
  color: black;
  text-shadow: none;
}

.reports-wrapper .reports th.group-header {
  background:rgb(1,111, 123, .85);
  color: white;
  text-shadow: 0 0 2px black;
  text-align: center;
}

.reports-wrapper .reports th.group-header .variable {
  border-bottom: 1px solid #eee;
  padding-bottom: 3px;
}

.reports-wrapper .reports th.group-header .value {
  padding-top: 3px;
}

.reports-wrapper .reports .filter-report {
  margin-bottom: 8rem;
  page-break-inside: avoid;
}

.reports-wrapper .union-highlight {
  margin: 0 auto .5em;
  text-align: center;
}

.reports-wrapper .union-highlight .count {
  font-size: 2em;
  color: rgb(1,111, 123, .85);
}

.reports-wrapper .filter-clause {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
  font-family: 'SourceSansProBold';
  color: rgb(1,111, 123, .85);
}


.reports-wrapper .report-heading {
  font-size: 2em;
  text-align: center;
  margin-bottom: 2em;
  cursor: pointer;
}

.reports-wrapper .filter-label {
  font-size: .65em;
  text-align: center;
  margin: 0 auto;
}

.reports-wrapper .filter-label > * {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.reports-wrapper .QueryButton:hover {
  background: rgb(1,111, 123, 1);
  border-color: black;
}

.reports-wrapper .QueryButton {
  background: rgb(1,111, 123, .8);
  border-color: white;
}

.clickable {
  cursor: pointer;
}