.TextSelector {
  display: flex;
  /* border-bottom: 1px solid #555; */
  /* border-radius: 10px; */
  padding: 0em 1em;
  align-items: center;
  line-height: 1.25em;
  font-size: 16px;
  width: 100%;
  justify-content: flex-start;
}

.TextSelector .label {
  color: #555;
  /* border-bottom: 1px solid #555; */
  text-transform: uppercase;
  margin-right: 0.5em;
  width: 20%;
}

.TextSelector .label,
.TextSelector .option {
  margin: 0 5px 0 0;
  white-space: nowrap;
}

.TextSelector .options {
  /* margin: .5em 0 0; */
  padding: 0.2em 0;
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: flex-end; */
  flex-grow: 1;
  /* overflow: scroll; */
  width: 100%;
  background: transparent;
}

/* .TextSelector .options  */

.TextSelector .option {
  padding: 0.25em;
  cursor: pointer;
  text-decoration: none;
  color: #555;
  /* min-width: 85px; */
  width: 10em;
  border: 2px solid #eee;
  border-radius: 10px;
  text-align: center;
  background: transparent;
  font-size: 1em;
  margin: 0 0.25em;
  transition: all 0.25s ease-in-out;
}

.TextSelector .option.active {
  padding: 0.2em 0.6em;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}

.TextSelector .option:not(.active):hover {
  text-decoration-color: #666;
  border-color: #666;
}

.TextSelector .option.QueryButton {
  margin: 0;
}

@media only screen and (max-width: 430px) {
  .TextSelector .options {
    overflow: scroll;
  }
}
