.calendar {
  margin: 0 0 1em;
}

.calendar .quarters {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.calendar .quarter {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  padding: .5em 0;
}

.calendar .quarter .label {
  margin-bottom: .25em;
  font-weight: bold;
  text-transform: uppercase;
}

.calendar .quarter .dates {
  color: white;
  font-size: 1.2em;  
  font-family: 'SourceSansPro';
  border: 1px solid black;
  padding: 5px;
}

.calendar .q1 .dates { background-color: #2783f4 }
.calendar .q2 .dates { background-color: #239a41 }
.calendar .q3 .dates { background-color: #ce7d0c }
.calendar .q4 .dates { background-color: #934ae0 }