.quarterly-filers-table .table-container {
  padding-top: 1em;
}

.quarterly-filers-table .table-container .cursor-pointer {
  cursor: pointer;
}

.quarterly-filers-table .table-container .select-none {
  user-select: none;
}

.quarterly-filers-table .table-container .sort-icon {
  font-size: .5em;
  width: .5em;
  text-align: right;
  padding-left: .5em;
  vertical-align: middle;
  display: inline-block;
}