.calendar {
  margin: 0 0 1em;
  /* max-width: 77rem; */
}

.calendar .quarters {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.calendar .quarter {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: grey;
  text-align: center;
  border: 1px solid black;
  padding: .5em;
}

.calendar .quarter .label {
  margin-bottom: .25em;
  font-weight: bold;
  text-transform: uppercase;
}

.calendar .quarter .dates {
  -webkit-text-stroke: .5px grey;
  color: white;
  font-size: 1.2em;  
  font-family: 'SourceSansProBold';
}