a.card {
  text-decoration: none;
}

.ImageCard {
  position: relative;
  overflow: hidden;
  opacity: 0.5;
  pointer-events: none;
  border: 2px solid white;
  border-radius: 5%;
  padding: 1.5em 1em .25em; 
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  background: #ececec;
  transition: box-shadow .1s, transform .1s;
  box-shadow: inset 0 0 5px #a5a5a5;
}

.ImageCard a span {
  padding: 0 .5em;
}

.ImageCard .tile-image {
  display: block;
  margin: .5em auto;
  max-width: 250px;
  max-height: 250px;
  width: 100%;
  border-radius: 50%;
  border: 2px solid #999;
  background-color: white;
  padding: 5px;
}

a:hover .ImageCard,
a:focus .ImageCard {
  border: 2px solid transparent;
  background: #003b56;
  box-shadow: 0 5px 15px #404a4d;
}

a:hover .ImageCard .tile-image,
a:focus .ImageCard .tile-image {
  background-color: #003b56;
  box-shadow: -0px 0px 20px black;
  border: 2px solid white;
}

.ImageCard.enabled {
  opacity: 1;
  pointer-events: auto;
}

.ImageWrapper {
  border: 2px solid white;
}

.ImageCard.enabled .ImageWrapper:hover {
  cursor: pointer;
}

a:hover .ImageCard.enabled h4,
a:hover .ImageCard.enabled .desc,
a:focus .ImageCard.enabled h4,
a:focus .ImageCard.enabled .desc {
  color: white;
}

.ImageWrapper {
  overflow:hidden;
  width: 429px;
  height:285px;
}

.imagechild {
  transition: transform 0.3s;
  width:429px;
  height:285px;
}

.ImageCard h4 {
  color: black;
  white-space: nowrap;
  font-weight: bold;
  font-size: 3vw;
  font-size: 2rem;
  line-height: 1.5;
  padding-left: 2px;
  margin: .5em auto;
  width: 25ch;
}

.ImageCard .desc {
  width: 100%;
  display: inline-block;
  margin: .25em 0 .5em !important;
  color: black;
  font-size: 2rem;
  height: 5ch;
}

.DataBrowser .home .card-wrapper {
  flex: 0 0 100%;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  display: block;
  margin-bottom: 3rem;
  margin-right: 1rem;
}

.DataBrowser .home .card-wrapper .faq {
  display: block;
  width: 100%;
  position: absolute;
  bottom: -2em;
  font-size: 1.1em;
  pointer-events: all;
  overflow: auto;
}

.DataBrowser .home .card-wrapper:not(.enabled) {
  pointer-events: none;
}

.DataBrowser .home .card {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  margin: 2rem 0rem;
  width: 100%;
  height: 100%;
}

.DataBrowser .home .card-wrapper .faq {
  display: block;
  margin: 2rem 0;
}

@media screen and (min-width: 700px) {
  .DataBrowser .home .card-wrapper {
    flex: 1 0 48%;
  }
}

@media screen and (min-width: 1000px) {
  .DataBrowser .home .card-wrapper {
    flex: 1 0 30%;
  }
}