//sticky footer
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 350px;
}

.usa-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 600px) {
  .usa-footer-slim .usa-footer-primary-section {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
