// just reset the serif font to the sans font for ease of use
$font-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
// reset to prevent hidden nav on mobile
$nav-width: 0;
