# HMDA File Format Verification Tool - Instructions

1. Navigate to the File Format Verification Tool at https://ffiec.cfpb.gov/tools/file-format-verification.
![](https://raw.githubusercontent.com/cfpb/hmda-frontend/master/src/documentation/markdown/images/ffvt/File_Format_Verification_Tool.png)

2. **Upload** or **drag and drop** your pipe delimited .txt file to the section of the File Format Verification Tool.

3.	Once the file is uploaded, the tool will **review and notify** you of any formatting errors to be fixed by specifying the row and ULI with the error.
![](https://raw.githubusercontent.com/cfpb/hmda-frontend/master/src/documentation/markdown/images/ffvt/Formatting_error.png)

    a.	In this example, the error is identified below in the pipe delimited format:
![](https://raw.githubusercontent.com/cfpb/hmda-frontend/master/src/documentation/markdown/images/ffvt/File_with_formatting_error.png)
  
4.	Once the error has been corrected, **resubmit** the LAR .txt file to the file format verification tool. When a file is uploaded without any error messages, you’ll receive this message and be ready to upload the file to the HMDA Platform:
![](https://raw.githubusercontent.com/cfpb/hmda-frontend/master/src/documentation/markdown/images/ffvt/Congrats_message.png)
 

## Frequently Asked Questions
The Frequently Asked Questions are available at https://ffiec.cfpb.gov/documentation/v2/faqs/


##	HMDA Help
Technical questions about reporting HMDA data collected in or after 2017 should be directed to hmdahelp@cfpb.gov.
