.accordion {
  margin-left: 1.5rem;
  margin-top: .75rem;
  position: relative;
}

.accordion:hover .icon
{
  color: #4675c2;
}

.accordion:hover .title {
  font-weight: bold;
}

.accordion .icon {
  margin-right: .5rem;
}

.accordion .title,
.accordion .text {
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accordion .body {
  display: none;
  margin-top: .5rem;
  margin-bottom: inherit;
}

.accordion.open .title {
  font-weight: bold;
  font-size: 1.8rem;
}

.accordion.open .icon {
  color: #4675c2;
  font-size: 2rem;
}

.accordion.open .body {
  display: block;
  margin-bottom: inherit;
  margin-left: .6rem;
  padding: 1rem;
  padding-left: 25px;
}

.accordion.open .body .date {
  display: block;
  color: grey;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.accordion.open .body::before {
  content: '';
  background-color:  #4675c2;
  color:  #4675c2;
  width: 15px;
  position: absolute;
  left: 0;
  top: 3rem;
  bottom: 0;
  z-index: -1;
}

.accordion.open {
  margin-bottom: 1.25rem;
}