#publication-changes h2 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #4675c2;
}

#publication-changes h3 {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 1.7rem;
}


#publication-changes .intro {
  font-size: 1.8rem;
}

#publication-changes .split {
  display: flex;
  flex-flow: row nowrap;
}

#publication-changes .split.columns {
  flex-flow: column nowrap;
}

#publication-changes .pub-change-log {
  min-height: 70vh;
}


#publication-changes h3.filter.header {
  margin: 2rem 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid green;
}

#publication-changes .pill {
  font-size: 1.4rem;
  margin: 0 0 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  line-height: normal;
}



.empty-state {
  margin-top: 3rem;
  font-size: 2rem;
}

.empty-state .reset-filters {
  max-width: 150px;
  margin-top: 4rem;
}


.pill {
  display: flex;
  margin-right: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  border-radius: 10px;
  align-items: center;
  text-transform: capitalize;
  user-select: none;
}



.pill .text {
  width: 100%;
}

.pill:hover {
  cursor: pointer;
}



@keyframes highlight-focus {
  0% {
    box-shadow: 0 0 2pt 2pt #4675c2;
  }

  50% {
    box-shadow: 0 0 5pt 5pt #4675c2;
  }

  100% {
    box-shadow: 0 0 2pt 2pt #4675c2;
  }
}

.reset-filters {
  padding: 1rem;
  background: #555;
  border-radius: 10px;
  color: white;
  margin-top: 1rem;
  display: block;
  text-align: center;
  width: 100%;
}

.reset-filters:hover {
  background-color: #017294;
  /* background: #0f8fb6; */
  cursor: pointer;
}


#pub-whats-new {
  font-size: 0;
  height: 0;
  display: block
}

/* Accordion */

#publication-changes .product-highlights .accordion {
  margin-left: 1.5rem;
  margin-top: .75rem;
  position: relative;
}

#publication-changes .accordion:hover .icon
{
  color: #4675c2;
}

#publication-changes .accordion:hover .title {
  font-weight: bold;
}

#publication-changes .accordion .icon {
  margin-right: .5rem;
}

#publication-changes .accordion .title,
#publication-changes .accordion .text {
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#publication-changes .accordion .body {
  display: none;
  margin-top: .5rem;
  margin-bottom: inherit;
}

#publication-changes .accordion.open .title {
  font-weight: bold;
  font-size: 1.8rem;
}

#publication-changes .accordion.open .icon {
  color: #4675c2;
  font-size: 2rem;
}

#publication-changes .accordion.open .body {
  display: block;
  margin-bottom: inherit;
  margin-left: .6rem;
  padding: 1rem;
  padding-left: 25px;
}

#publication-changes .accordion.open .body .date {
  display: block;
  color: grey;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

#publication-changes .accordion.open .body::before {
  content: '';
  background-color:  #4675c2;
  color:  #4675c2;
  width: 15px;
  position: absolute;
  left: 0;
  top: 3rem;
  bottom: 0;
  z-index: -1;
}

#publication-changes .accordion.open {
  margin-bottom: 1.25rem;
}

#publication-changes .search-link {
  cursor: pointer;
  color: #4675c2;
  text-decoration: underline;
}

#publication-changes .search-link:hover {
  text-decoration: double underline;
}



/* Change Table */
#publication-changes .change-table {
  margin-bottom: 2rem;
  width: 100%;
}

#publication-changes .change-table thead tr th {
  color: white;
  background: #4675c2;
}

#publication-changes .change-table tbody tr td {
  color: black;
}

#publication-changes .change-table tr td.description {
  width: 60%;
}

#publication-changes .change-table .date {
  min-width: 185px;
}

#publication-changes .highlighted {
  background: yellow;
}

#publication-changes .text-input .icon img {
  width: 15px;
  position: absolute;
  z-index: 10;
  top: 3rem;
  left: 1rem;
}