.login-header-container {
  max-width: 1040px;
  margin: 2rem auto;
  padding: 0 3rem 3rem;
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 2rem;
  align-items: start;
  margin-bottom: 2em;
}

.login-content {
  padding-right: 2rem;
  color: #5b616b;
}

.login-content p {
  margin-top: 0;
  color: #5b616b;
  font-size: 1.1em;
}

.login-content h1 {
  font-size: 4rem;
  margin: 1em 0 0 0 !important;
  color: var(--hmda-blue);
}

.login-content .font-lead {
  font-size: 1.1em;
  max-width: 77ch;
  margin: 0 0;
}

.login-content .button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 1.5em 0;
}

.button-container .text-small {
  margin: 0;
}

.login-content .button-container button {
  margin: 0;
  display: flex;
  gap: 8px;
  align-items: center;
}

.login-content .button-container .login-button {
  max-width: 280px;
}

.login-gov-icon-button {
  width: 125px;
  background-repeat: no-repeat;
  background-position: center;
}

.how-it-works {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.filing-periods-container {
  margin: 3em 0 0 0;
}

@media screen and (max-width: 1024px) {
  .login-header-container {
    grid-template-columns: 1fr;
    padding: 0 3rem 1rem;
    gap: 0.5rem;
    margin-bottom: 8rem;
  }

  .login-content {
    padding-right: 0;
  }

  .login-content .font-lead {
    max-width: none;
  }

  .filing-periods-container {
    margin-top: 0rem;
    /* margin-right: auto; */
  }

  .login-content .button-container {
    display: flex;
    flex-direction: row;
  }

  .login-content .button-container button,
  .login-content .button-container a {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .login-gov-promo {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 550px) {
  .login-header-container {
    margin-bottom: 5em;
  }

  .login-content .button-container {
    flex-direction: column;
  }

  .login-content .button-container .login-button {
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .login-content .button-container button {
    font-size: 15px;
  }

  .login-gov-icon-button {
    width: 110px;
  }
}
