.Graphs svg {
  fill: inherit;
  stroke: inherit;
}

.Graphs .shared-border {
  margin: 0.5em 0;
  padding: 0;
  border-top: 1px solid #aaa;
}

.graph-wrapper table {
  margin: 15px auto;
}

.Graphs .period-range { 
  display: flex;
  flex-flow: nowrap;
  align-items: stretch;
}

.Graphs .period-range > * { 
  flex: 1;
}