.Graphs .graph-wrapper {
  margin-top: 2em;
}

.Graphs .instructions {
  font-size: 1.25em;
}

.Graphs svg {
  fill: inherit;
  stroke: inherit;
}

.Graphs .shared-border {
  margin: 0.5em 0;
  padding: 0;
  border-top: 1px solid #aaa;
}

.graph-wrapper table {
  margin: 15px auto;
}

.period-wrapper {
  height: 90px;
}

.Graphs .period-range {
  margin-top: 0.5em;
  display: flex;
  flex-flow: nowrap;
  align-items: stretch;
}

.Graphs .period-range > * {
  flex: 1;
}

.Graphs .period-range .to {
  text-align: center;
  flex: 0;
  margin: 0 15px;
  vertical-align: center;
}

.Graphs .reset {
  margin-top: 0;
  margin-left: 10px;
  padding: 3px 10px;
}

.Graphs .toolbar {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: right;
}
