.Graphs svg {
  fill: inherit;
  stroke: inherit;
}

.Graphs .shared-border {
  margin: 0.5em 0;
  padding: 0;
  border-top: 1px solid #aaa;
}

.graph-wrapper table {
  margin: 15px auto;
}

.period-wrapper {
  height: 90px;
}

.Graphs .period-range {
  margin-top: 0.5em;
  display: flex;
  flex-flow: nowrap;
  align-items: stretch;
}

.Graphs .period-range > * {
  flex: 1;
}

.Graphs .period-range .to {
  text-align: center;
  flex: 0;
  margin: 0 15px;
  vertical-align: center;
}

.Graphs .reset {
  margin-top: 0;
  margin-left: 10px;
  padding: 3px 10px;
}

.Graphs .CopyURLButton {
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
  padding: 3px 8px;
}

.Graphs .CopyURLButton .tooltiptext {
  visibility: hidden;
  width: 120px;
  height: 23px;
  font-size: 16px;
  background-color: #0071bc;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 3px 0;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 108%;
}

.Graphs .CopyURLButton .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #0071bc transparent transparent;
}
