.DataPublication .home .card {
  flex: 1 0 90%;
  margin-bottom: 3rem;
}

.DataPublication .home .card h4 {
  margin-top: 2rem;
}

.DataPublication.App .Disclosure,
.DataPublication.App .Aggregate,
.DataPublication.App .NationalAggregate,
.DataPublication.App .Snapshot,
.DataPublication.App .DynamicDataset,
.DataPublication.App .home,
.Report .heading {
  max-width: 1040px;
  margin: 0 auto;
}

.DataPublication.App .Report table {
  margin-left: auto;
  margin-right: auto;
}

.App .Report {
  max-width: 100%;
}

.DataPublication label {
  display: block;
  margin-top: 3rem;
  max-width: 46rem;
}

.DataPublication input {
  border: 0.1rem solid #5b616b;
  color: #212121;
  font-family: SourceSansPro;
  font-size: 1.6rem;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7em;
  width: 100%;
}

.DataPublication .heading h4 {
  margin-top: 1.78em;
}

.DataPublication .home .card-container .card:first-child {
  margin-top: 0rem;
}

.DataPublication .dataset-container header h3 {
  border-bottom: 1px solid #aaa;
  color: #5b616b;
  padding-bottom: 5px;
}

.DataPublication .dataset-container {
  margin-top: 2em;
  display: flex;
  flex-flow: row;
}

.DataPublication .dataset-container > div:first-child {
  margin-right: 25px;
}

.DataPublication .MoreInfo .label {
  font-weight: bold;
}

.DataPublication .MoreInfo .value {
  color: #5b616b;
  margin-left: 5px;
}

.DataPublication .MoreInfo .marker {
  color: #5b616b;
}
