#publication-changes h2 {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #4675c2;
}

#publication-changes h3 {
  margin-bottom: 2rem;
}

#publication-changes h3 {
  margin-top: 1rem;
}

#publication-changes .intro {
  font-size: 1.8rem;
}

#publication-changes .split {
  display: flex;
  flex-flow: row nowrap;
}

#publication-changes .split.columns {
  flex-flow: column nowrap;
}

#publication-changes .pub-change-item {
  align-items: flex-start;
  padding: 3rem 1rem;
}

#publication-changes .pub-change-item.header {
  padding: 3rem 0 1rem;
  border-bottom: 1px solid black;
}

#publication-changes .pub-change-item.split {
  justify-content: flex-start;
  align-items: flex-start;
}

#publication-changes .pub-change-item > * {
  flex-basis: 25%;
}

#publication-changes .pub-change-day .date .icon {
  display: none;
  margin-right: 1rem;
}

#publication-changes .pub-change-day .date,
#publication-changes .pub-change-item .date.header {
  text-transform: capitalize;
  padding-left: .5rem;
}


#publication-changes .pub-change-item .column-type {
  padding-left: 1rem;
}

#publication-changes .pub-change-item .column-type .pill {
  margin: 0
}

#publication-changes .pub-change-item .type {
  width: 200px;
  text-align: center;
  padding: .3rem .5rem;
  border-radius: 7px;
  text-transform: uppercase;
  color: white;
  font-size: 1.3rem;
}

#publication-changes .pub-change-item .type:hover,
#publication-changes .pub-change-item .product:not(.header):hover {
  cursor: pointer;
  user-select: none;
}

#publication-changes .pub-change-item .product {
  text-transform: capitalize;
  min-width: 100px;
}

.filter-bar .pill.product.disclosure:hover,
.filter-bar .pill.product.disclosure.selected {
  background-color: #9c7d2e;
}
#publication-changes .pub-change-item .product.disclosure:hover,
#publication-changes .pub-change-item .product.disclosure.selected,
#publication-changes .pub-change-item .product.disclosure.selected::before,
#publication-changes .pub-change-item .product.disclosure.selected::after {
  color: #9c7d2e;
}

/** Modified LAR color - .mlar */

#publication-changes .filter-bar .pill.product.mlar:hover,
#publication-changes .filter-bar .pill.product.mlar.selected {
  background-color: #a01b68;
}

#publication-changes .pub-change-item .product.mlar:hover,
#publication-changes .pub-change-item .product.mlar.selected,
#publication-changes .pub-change-item .product.mlar.selected::before,
#publication-changes .pub-change-item .product.mlar.selected::after {
  color: #a01b68;
}

.filter-bar .pill.product.datasets:hover,
.filter-bar .pill.product.datasets.selected {
  background-color: 	#2765b0;
}
#publication-changes .pub-change-item .product.datasets:hover,
#publication-changes .pub-change-item .product.datasets.selected,
#publication-changes .pub-change-item .product.datasets.selected::before,
#publication-changes .pub-change-item .product.datasets.selected::after {
  color: 	#2765b0;
}

.filter-bar .pill.product.reports:hover,
.filter-bar .pill.product.reports.selected {
  background-color: 	#126b69;
}
#publication-changes .pub-change-item .product.reports:hover,
#publication-changes .pub-change-item .product.reports.selected,
#publication-changes .pub-change-item .product.reports.selected::before,
#publication-changes .pub-change-item .product.reports.selected::after {
  color: 	#126b69;
}

#publication-changes .pub-change-item .product.selected {
  font-weight: bold;
}


/* #publication-changes .pub-change-item .product.selected::before {
  content: '◆';
  margin: auto 5px;
}

#publication-changes .pub-change-item .product.mlar.selected::before {
  content: '•';
}

#publication-changes .pub-change-item .product.reports.selected::before {
  content: '∆';
} */


#publication-changes .pub-change-item .description {
  flex-basis: 50%;
  /* flex-grow: 1; */
}

#publication-changes .pub-change-log {
  min-height: 70vh;
}

#publication-changes .pub-change-log h3 {
  margin-top: 0;
}

#publication-changes .pub-change-log h3.filter.header {
  margin: 2rem 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid green;
}

#publication-changes .pill {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

#publication-changes .filter-bar .pills {
  padding: 1.5rem 0;
}

#publication-changes .pub-change-item .type.header {
  color: black;
  white-space: nowrap;
  text-transform: capitalize;
}

/* #publication-changes .pub-change-item.header {
  border-top: 1px solid green;
  border-top: 1px solid lightgrey;
} */

#publication-changes .pub-change-item > .header {
  width: 33%;
  margin: 0;
  text-decoration-color: grey;
}

#publication-changes .pub-change-item .type.correction,
.filter-bar .pill.type.correction:hover,
.filter-bar .pill.type.correction.selected {
  background-color: #c41613;
}

#publication-changes .pub-change-item .type.update,
.filter-bar .pill.type.update:hover,
.filter-bar .pill.type.update.selected {
  background-color: #254b87;
}

#publication-changes .pub-change-item .type.release,
.filter-bar .pill.type.release:hover,
.filter-bar .pill.type.release.selected {
  background-color: #0b6e4f;
}

#publication-changes .pub-change-item .type.notice,
.filter-bar .pill.type.notice:hover,
.filter-bar .pill.type.notice.selected {
  background-color: #dc731c;
  color: white;
}

#publication-changes .empty-state {
  margin-top: 3rem;
  font-size: 2rem;
}

.pub-change-item .pill,
.filter-bar .pill {
  display: flex;
  margin-right: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  border-radius: 10px;
  align-items: center;
  text-transform: capitalize;
  user-select: none;
}

.filter-bar .pill {
  border: 2px solid black;
  color: black;
  background: white;
  position: relative;
}

.filter-bar .pill:hover,
.filter-bar .pill.selected {
  color: white;
  border-color: transparent;
}

.filter-bar .pill::before {
  content: '+';
  margin-left: 1rem;
  position: absolute;
  font-size: 2rem
}

.filter-bar .pill.selected::before {
  content: "\2713";
  font-size: 1.5rem
}


.pub-change-item .pill {
  max-width: 100px !important;
  margin-bottom: 0;
}

.pub-change-item .pill .text,
.filter-bar .pill .text {
  width: 100%;
}

.pub-change-item .pill:hover,
.filter-bar .pill:hover {
  cursor: pointer;
}

.pub-change-item .pill .close,
.filter-bar .pill .close {
  margin-left: 0.4rem;
  align-self: center;
}

.pub-change-item .pill .close:hover,
.filter-bar .pill .close:hover {
  background-color: orange;
}

.pub-change-item:not(.header) {
  border-top: 1px solid lightgrey;
}

.filter-bar .text-input {
  padding: 1.5rem 0;
}

.filter-bar .text-input input[type='text'] {
  border-radius: 10px;
}

.filter-bar .text-input input[type='text']:focus {
  outline: none;
  border-color: transparent;
  animation: highlight-focus 1s;
  animation-fill-mode: forwards;
}

@keyframes highlight-focus {
  0% {
    box-shadow: 0 0 2pt 2pt #4675c2;
  }

  50% {
    box-shadow: 0 0 5pt 5pt #4675c2;
  }

  100% {
    box-shadow: 0 0 2pt 2pt #4675c2;
  }
}

.reset-filters {
  padding: 1rem;
  background: #555;
  border-radius: 10px;
  color: white;
  margin-top: 1rem;
  display: block;
  text-align: center;
}

.reset-filters:hover {
  background-color: #017294;
  cursor: pointer;
}

.empty-state .reset-filters {
  max-width: 150px;
  margin-top: 4rem;
}

.filter-bar .text-input .close {
  margin-left: 1rem;
  align-self: center;
  cursor: pointer;
  background: grey;
  color: white;
  height: 100%;
  border-radius: 10px;
  padding: 0 0.5rem;
}

.filter-bar .text-input .close:hover {
  background-color: #555;
}

#publication-changes .filter-bar .pills-wrapper h3,
#publication-changes .filter-bar .pills-wrapper h4,
#publication-changes .search-wrapper h3,
#publication-changes .search-wrapper h3 label {
  margin-top: 0;
  margin-bottom: 0;
}

.filter-bar .pills-wrapper {
  margin-right: 10rem;
}

.filter-bar .filter-wrapper > * {
  width: 18%;
}

.filter-bar .filter-wrapper .search-wrapper {
  width: 40%;
}

#pub-whats-new {
  font-size: 0;
  height: 0;
  display: block
}



/* Publication Highlights */
#publicationHighlights .split {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

#publicationHighlights .split > * {
  width: 50%;
  justify-content: space-between;
}

#publicationHighlights .product-highlights {
  padding-right: 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;

}

#publicationHighlights .product-highlights .header,
#publicationHighlights .change-type-highlights .header {
  display: flex;
  align-items: center;
  margin-top: 0;
  user-select: none;
  font-size: 1.7rem;
}

#publicationHighlights .product-highlights .header .toggle {
  font-size: 1rem;
  font-weight: normal;
  border-radius: 12px;
  padding: .1rem 1rem;
  border: 1px solid black;
  margin: 0 3rem 0 1rem;
  max-width: 80px;
  cursor: pointer;
}

#publicationHighlights .product-highlights .header .toggle:hover {
  background-color: #4675c2;
  color: white;
}

#publication-changes .pub-change-log h3 {
  font-size: 1.7rem;
}

#publication-changes .product-highlights .accordion {
  margin-left: 1.5rem;
  margin-top: .75rem;
}

#publication-changes .product-highlights .name {
  display: inline-block;
}

#publication-changes .product-highlights .product {
  margin-bottom: 3rem;
}

/* Accordion */
#publication-changes .accordion .title:hover{
  color: #4675c2;
}

#publication-changes .accordion .icon {
  margin-right: .5rem;
}
#publication-changes .accordion.open .icon {
  color: #4675c2;
  font-size: 2rem;
}

#publication-changes .accordion .title {
  cursor: pointer;
  user-select: none;
}

#publication-changes .accordion .body {
  display: none;
  margin-top: .5rem;
  margin-bottom: inherit;
}

#publication-changes .accordion.open .body {
  display: block;
  margin-bottom: inherit;
  margin-left: .6rem;
  border-left: 1px solid #4675c2;
  padding-left: 25px;
}

#publication-changes .accordion.open {
  margin-bottom: 1.25rem;
}

#publication-changes .accordion .link,
#publication-changes .change-table .link {
  cursor: pointer;
  color: #4675c2;
  text-decoration: underline;
}

#publication-changes .accordion .link:hover,
#publication-changes .change-table .link:hover {
  text-decoration: double underline;
}



/* Change Table */
/* #publication-changes .change-table * {
  border-color: white;
} */

#publication-changes .change-table {
  margin-bottom: 2rem;
  width: 100%;
}

#publication-changes .change-table thead tr th {
  color: white;
  background: #4675c2;
}

#publication-changes .change-table tbody tr td {
  color: black;
  /* background: #f1f2f5; */
}

#publication-changes .change-table tr :first-child {
  width: 65%;
}

#publication-changes .change-table .date {
  min-width: 185px;
}