.PaginationControls .button-disabled,
.PaginationControls .button-disabled:hover,
.PaginationControls .button-disabled:active {
  background-color: #d6d7d9;
  border-color: #d6d7d9;
  outline: 0;
  color: #323a45;
}

.PaginationControls {
  display: table;
  font-size: 1.7rem;
  position: relative;
  margin: 1em auto 2em;
}

.PaginationControls h4,
.PaginationControls button {
  display: inline-block;
  margin: 0;
}

.PaginationControls div {
  display: inline-block;
  margin: 0 2em;
}

.PaginationControls form {
  width: 3em;
  display: inline-block;
  margin: 0 0.25em;
}

.PaginationControls form label {
  display: block;
  height: 1px;
  left: -10000px;
  margin-top: 3rem;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.PaginationControls input {
  border: 0.1rem solid #5b616b;
  border-radius: 0;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7em;
  width: 100%;
}

.PaginationControls button:last-of-type {
  margin-right: 2em; /* centering compensatation for narrower width */
}
.PaginationControls .LoadingIconWrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: -35px;
  margin-left: -45px;
}

.PaginationTarget {
  opacity: 1;
  transition: opacity 0.3s;
}
.PaginationTarget td {
  opacity: 1;
  transition: opacity 0.3s;
}
.PaginationTarget td.fadeOut {
  opacity: 0.5;
  /*Box shadow prevents thinning of table bottom border on transition*/
  box-shadow: 0 1px 1px -2px;
}

.PaginationTarget td.fadeOut td {
  opacity: 0;
}
