#parseErrors {
  margin-bottom: 2em;
}

#parseErrors .ParseResults {
  padding: 1em;
}

#parseErrors table {
  margin: 0;
}

#parseErrors caption {
  font-family: SourceSansProBold;
}

#parseErrors caption h3 {
  font-size: 2rem;
}

#parseErrors table {
  margin-top: 3em;
  width: 100%;
}

#parseErrors table thead th {
  font-family: SourceSansProBold;
  text-align: left;
}

#parseErrors table tfoot th,
#parseErrors table tfoot td {
  border-top: 2px solid;
}

#parseErrors table tfoot th {
  font-weight: bold;
  text-transform: uppercase;
}

#parseErrors .table-large td,
#parseErrors .table-large th {
  padding: 0.5rem 1rem;
}

#parseErrors table td:first-of-type {
  text-align: right;
  width: 1px;
}
