.button-disabled.button {
  background-color: #d6d7d9;
  color: #323a45;
  pointer-events: none;
}

.NavButton {
  position: relative;
  text-transform: capitalize;
  opacity: 1;
  visibility: visible;
  text-decoration: none;
  transition: opacity 0.3s, visibility 0.3s;
}
.NavButton.button {
  margin: 0;
}
.NavButton.button:hover {
  color: #ffffff;
}

.NavButton.hidden {
  opacity: 0;
  visibility: hidden;
}

.NavSpinner {
  position: absolute;
}
