.ParseErrors table {
  margin-bottom: 0;
}
.ParseErrors table td:first-of-type,
.ParseErrors table th:first-of-type {
  text-align: right;
  width: 1px;
}
.ParseErrors hr {
  margin: 2em 0 !important;
}

.ParseErrors h2 {
  margin-top: 0;
}

.ParseErrors p.usa-font-lead {
  color: #323a45;
  margin-top: 0.5em;
}

.ParseErrors caption {
  text-align: left;
}

.ParseErrors caption h3 {
  margin: 0;
}
.ParseErrors caption p {
  color: #323a45;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0;
}
