.App.home .card:nth-of-type(2) {
  margin-right: 0;
}

.App.home a:hover > .last-updated {
  color: inherit;
}

.App.home .last-updated {
  display: inline-block;
  text-decoration: inherit;
  margin: 0 0 0 0.5rem;
  color: grey;
  font-size: 1.25rem;
  text-align: right;
}
