.OneYear {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 3rem;
}

.OneYear .source-date {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: grey;
}

.OneYear .header {
  border-bottom: none;
}

.OneYear h1 {
  font-size: 4rem;
  margin-top: 1.5em;
}

.OneYear .font-lead {
  font-size: 2rem;
  max-width: 77rem;
}

.OneYear .grid {
  align-items: stretch;
  display: flex;
  margin: 0 auto;
  max-width: 1040px;
  padding: 3rem 0;
}
.OneYear .item {
  flex: 1;
  margin: 0 20px;
}
.OneYear .item:first-child {
  margin-left: 0;
}
.OneYear .item:last-child {
  margin-right: 0;
}

.OneYear .item li > ul {
  margin-top: 0.5em;
}
