.FilingHome .YearSelector {
  margin: 0;
}
.FilingHome .hero-no-script {
  background-color: #f9dede;
}

.FilingHome .alert {
  margin-bottom: 2em;
}

.FilingHome .hero .button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.FilingHome .hero .button-container button {
  margin-right: 0;
}

.FilingHome .hero .how-it-works {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: .8em;
}

.FilingHome .hero .text-small {
  margin-top: 16px;
}

.FilingHome .hero {
  background-color: #f1f1f1;
  margin-bottom: 2em;
  padding: 1em 0 3em 0;
}

.FilingHome h2 {
  font-size: 1.5em;
}

.FilingHome h3 {
  font-size: 1em;
}

.FilingHome .hero button {
  margin: 1.5em 0.5em 0.5em 0;
}

.FilingHome .login-button {
  float: right;
}

.FilingHome hr {
  margin: 2em 0;
}

.FilingHome .max-width {
  max-width: 77rem;
}

.FilingHome .video-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.FilingHome .video-container iframe {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.FilingHome .hero button:disabled {
  pointer-events: visible;
  cursor: not-allowed;
}

#main-content.maintenance {
  margin-bottom: 7rem;
}

.padding-top-bottom {
  padding: 1.5em;
}

@media screen and (max-width: 750px) {
  .button-container {
    flex-direction: column;
    margin: 0 0 15px 0;
  }

  .FilingHome .hero .button-container button {
    margin: 0;
  }

  .FilingHome .hero .how-it-works {
    margin: 0;
  }

  .FilingHome .hero .text-small {
    margin-top: 0;
  }
}