.home h1 {
  font-size: 4rem;
  margin-top: 1.5em;
}

.home > h3 {
  font-size: 2.5rem;
  font-family: SourceSansPro;
}

.home h2 a {
  color: #000;
  text-decoration: none;
}

.home h2 a:hover {
  color: #0071bc;
  text-decoration: underline;
}

.home .lead {
  color: #5b616b;
  font-size: 2rem;
  line-height: 1.7;
  max-width: 77rem;
}
.home hr {
  border-color: #aeb0b5;
  border-top: none;
  margin: 0 auto 3rem;
  max-width: 1040px;
}
.home h4 {
  margin: 0;
}
.home p {
  margin-top: 0;
}
