html {
  scroll-behavior: smooth !important;
}

.dynamic-renderer {
  display: flex;
}

.Markdown-Wrapper {
  max-width: 1040px;
  margin: 10px auto;
  padding: 0 3rem;
}

.Markdown-Wrapper h2 {
  margin-top: 2em;
}

.Markdown-Wrapper table {
  border-collapse: collapse;
  display: block;
  overflow: auto;
}

.Markdown-Wrapper th {
  background-color: #ddd;
}

.Markdown-Wrapper td,
.Markdown-Wrapper th {
  border: 1px solid #222;
  padding: 0.5em;
}

.Markdown-Wrapper img {
  max-width: 100%;
}

.Markdown-Wrapper img.widthOriginal {
  width: auto;
}

.Product h4 a {
  color: #000;
  text-decoration: none;
}

.Product h4 a:hover {
  color: #0071bc;
  text-decoration: underline;
}

.Product p {
  margin: 0 0 0.5em 0;
}

.Documentation .heading {
  background-color: #ffffff;
  border-bottom: 1px solid #d6d7d9;
}

.App.Documentation li {
  margin-bottom: 0.5em;
}
