.Final {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 3rem;
}

.Final .header {
  border-bottom: none;
}

.Final h1 {
  font-size: 4rem;
  margin-top: 1.5em;
}

.Final .font-lead {
  font-size: 2rem;
  max-width: 77rem;
}

.Final .grid {
  align-items: stretch;
  display: flex;
  margin: 0 auto;
  max-width: 1040px;
  padding: 3rem 0;
}
.Final .item {
  flex: 1;
  margin: 0 20px;
}
.Final .item:first-child {
  margin-left: 0;
}
.Final .item:last-child {
  margin-right: 0;
}

.Final .item li > ul {
  margin-top: 0.5em;
}
