@keyframes progressIndicator {
  0% {
    opacity: 0.4;
    box-shadow: none;
  }
  50% {
    opacity: 1;
    box-shadow: 0 1px 2px -1px #0071bc;
  }
  100% {
    opacity: 0.4;
    box-shadow: none;
  }
}

.ValidationProgress {
  padding-top: 1em;
  position: relative;
}
.ValidationProgress .usa-button {
  margin-top: 0.5em;
}

.ValidationProgress .progressTotal {
  background-color: #f1f1f1;
  width: 100%;
  height: 1em;
  font-family: SourceSansProBold;
}
.ValidationProgress .progressTotal::before {
  content: '0%';
  font-size: 0.75em;
  margin-left: -1.5em;
  position: absolute;
  left: 0;
}

.ValidationProgress .progressTotal::after {
  content: '100%';
  font-size: 0.75em;
  margin-right: -2.6em;
  position: absolute;
  right: 0;
}

.ValidationProgress .progressFill {
  background-color: #0071bc;
  line-height: 1em;
  height: 1em;
  margin-top: -1em;
  transition:
    width 0.3s,
    background-color 0.2s;
}

.ValidationProgress .progressFill.error {
  background-color: #e31c3d;
}

.ValidationProgress .progressText {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}
.ValidationProgress .progressText p {
  margin: 0;
}

.ValidationProgress .progressIndicator {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-left: 0.5em;
  margin-bottom: -0.2em;
  background-size: cover;
  background-repeat: no-repeat;
}

.ValidationProgress .progressIndicator.pulsing {
  border-radius: 50%;
  background-color: #0071bc;
  animation-name: progressIndicator;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.ValidationProgress .progressIndicator.complete {
  background-image: url('../../images/correct9.png');
  background-image: url('../../images/correct9.svg');
  width: 2em;
  height: 2em;
  margin-bottom: -0.5em;
  margin-left: 0;
}

.ValidationProgress .progressIndicator.error {
  background-image: url('../../images/close.png');
  background-image: url('../../images/close.svg');
}
