.RefileButton {
  background-color: transparent;
  color: #0071bc;
  font-family: SourceSansProBold;
  font-weight: normal;
  margin: 0 0 0 2em;
  text-decoration: underline;
}

.RefileWarning .RefileButton.link {
  background-color: transparent;
  color: #0071bc;
  font-family: SourceSansPro;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: underline;
  transform: none;
  -moz-osx-font-smoothing: unset;
  -webkit-font-smoothing: unset;
}
.RefileWarning .RefileButton.link:hover, .RefileButton.link:hover {
  background: transparent;
  color: #205493;
}

.text-lowercase {
  text-transform: lowercase;
}
