.Summary {
  margin-top: 2em;
}

.Summary header {
  max-width: 77rem;
  margin-bottom: 2em;
}
.Summary h2 {
  font-size: 3rem;
}

.Summary .info-section {
  border-top: 1px solid #dadada;
}

.Summary .font-lead, 
.Summary .info-section-lead {
  color: #323a45;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.Summary .info-section-lead {
  font-size: 1em;
  color: #666;
  margin: .75em 0 1.25em;
}

.Summary .info {
  margin: 2em 0;
}

.Summary dt {
  font-family: SourceSansProBold;
}
.Summary dd {
  margin-bottom: 1em;
  margin-left: 0;
}
