.Form .unstyled-list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.Form+div .LoadingIconWrapper {
  margin-top: 1em;
}

.Form .info {
  background-color: #e1f3f8;
  padding: 1.5em;
}

.Form .info strong {
  font-family: SourceSansProBold;
}

.Form fieldset {
  border: none;
  margin: 1em 0;
  padding: 0;
}

.Form fieldset [type='radio'] {
  display: inline-block;
}

.Form fieldset [type='radio'] + label {
  display: inline-block;
  margin: 0.5em 0 0.5em 1em;
}

.Form legend {
  font-family: SourceSansProBold;
  border: 0;
  padding: 0;
}

.Form label {
  display: block;
  margin-top: 3rem;
  max-width: 46rem;
}

.Form input {
  font-family: SourceSansPro;
}

.Form input[type='text'] {
  appearance: none;
  border: 0.1rem solid #5b616b;
  border-radius: 0;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7rem;
  width: 100%;
}

.Form [type='radio'] + label {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0.65em;
  margin-left: 0.5em;
  margin-top: 0.65em;
}

.Form .input-error {
  border-left: 4px solid #cd2026;
  margin-top: 3rem;
  padding: 0 0 0 1.5rem;
  position: relative;
  right: 1.9rem;
}

.Form .input-error-message {
  color: #dc2026;
  display: block;
  font-family: SourceSansProBold;
  font-size: 1.7rem;
  padding-bottom: 3px;
  padding-top: 3px;
}

.Form .unstyled-list > li {
  margin-bottom: 0;
}

.Form input[type='submit'],
.Form input[type='submit']:visited {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #0071bc;
  border: 0;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: SourceSansProBold;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  margin: 3rem 0 0;
  padding: 1rem 2rem;
}
@media screen and (min-width: 481px) {
  .Form input[type='submit'],
  .Form input[type='submit']:visited {
    width: auto;
  }
}
.Form input[type='submit']:hover,
.Form input[type='submit']:visited:hover {
  background-color: #205493;
}
.Form input[type='submit']:active,
.Form input[type='submit']:visited:active {
  background-color: #112e51;
}
.Form input[type='submit']:disabled,
.Form input[type='submit']:visited:disabled {
  background-color: #d6d7d9;
  pointer-events: none;
}
.Form input[type='submit']:disabled:hover,
.Form input[type='submit']:disabled:active,
.Form input[type='submit']:disabled:focus,
.Form input[type='submit']:visited:disabled:hover,
.Form input[type='submit']:visited:disabled:focus,
.Form input[type='submit']:visited:disabled:active {
  background-color: #d6d7d9;
}
