.Form .unstyled-list {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

.Form + div .LoadingIconWrapper {
  margin-top: 1em;
}

.Form .info {
  background-color: #e1f3f8;
  padding: 1.5em;
}

.Form .info strong {
  font-family: SourceSansProBold;
}

.Form fieldset {
  border: none;
  margin: 1em 0;
  padding: 0;
}

.Form fieldset [type='radio'] {
  display: inline-block;
}

.Form fieldset [type='radio'] + label {
  display: inline-block;
  margin: 0.5em 0 0.5em 1em;
}

.Form legend {
  font-family: SourceSansProBold;
  border: 0;
  padding: 0;
}

.Form label {
  display: block;
  margin-top: 3rem;
  max-width: 46rem;
}

.Form input[type='text'] {
  appearance: none;
  border: 0.1rem solid #5b616b;
  border-radius: 0;
  box-sizing: border-box;
  color: #212121;
  display: block;
  font-size: 1.7rem;
  height: 4.4rem;
  line-height: 1.3;
  margin: 0.2em 0;
  max-width: 46rem;
  padding: 1rem 0.7rem;
  width: 100%;
}

.Form [type='radio'] + label {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 0.65em;
  margin-left: 0.5em;
  margin-top: 0.65em;
}

.Form .input-error {
  border-left: 4px solid #cd2026;
  margin-top: 3rem;
  padding: 0 0 0 1.5rem;
  position: relative;
  right: 1.9rem;
}

.Form .input-error-message {
  color: #dc2026;
  display: block;
  font-family: SourceSansProBold;
  font-size: 1.7rem;
  padding-bottom: 3px;
  padding-top: 3px;
}

.Form .unstyled-list > li {
  margin-bottom: 0;
}
