.methodology.grid {
  display: block;
}

.methodology p {
  max-width: 77rem;
}

.methodology tbody th {
  font-weight: 700;
}

.methodology h1 {
  max-width: 77rem;
}

.methodology table {
  margin: 2em 0;
}

.methodology table thead th {
  font-family: SourceSansProBold;
  text-align: center;
}

.methodology table tfoot th,
.methodology table tfoot td {
  border-top: 2px solid;
}

.methodology table tfoot th {
  font-weight: bold;
  text-transform: uppercase;
}

.methodology .table-large td,
.methodology .table-large th {
  padding: 0.5rem 1rem;
}
