.App .Institutions {
  margin: 0 auto;
}

.Institutions .institution {
  margin-top: 2em;
}

.Institutions .institution .current-status {
  background-color: #f1f1f1;
  padding: 1em;
}

.Institutions .institution h3 {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
}

.Institutions .institution h3 .details-icon {
  float: right;
  cursor: pointer;
}

.Institutions .institution h3 .details-icon {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

.Institutions .institution h3 .details-icon:hover svg {
  border-radius: 50%;
  fill: #0071bc;
}

.Institutions .institution h3 .details-icon svg {
  width: 100%;
  height: 100%;
}

.Institutions .institution .previous-submissions h4 {
  margin-top: 0;
}

.Institutions .institution .previous-submissions ol {
  margin-bottom: 0;
  padding-left: 1.5em;
}

.Institutions .institution .usa-accordion-button {
  background-color: #d6d7d9;
}

.Institutions .institution .status {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.Institutions .institution .statush4 {
  margin: 0;
}

.Institutions .institution .statusp {
  margin: 0;
}

.Institutions .institution .non-quarterlies {
  background-color: #f1f1f1;
  padding-bottom: 1px;
}

.Institutions .institution .non-quarterlies h3 {
  padding: 1rem 1.5rem;
  background-color: #d6d7d9;
}

.Institutions .institution .non-quarterlies .status ul {
  list-style-type: disc;
  padding-left: 40px;
}

.Institutions header {
  margin: 0;
}

.Institutions header h2 {
  margin-top: 0;
  margin-bottom: 0.25em;
}
.Institutions header p.usa-font-lead {
  margin-top: 0;
  margin-bottom: 0.25em;
}

.Institutions p.multi-message {
  margin-top: 2.5em;
}

.Institutions .review-only {
  border: 5px solid #fdb81e;
  padding: 20px;
  background: #fff1d2;
  text-align: center;
  margin-top: 2em;
  line-height: 1.5em;
}

.Institutions .review-only h4 {
  margin-top: 0;
}

.floatingIcon + p.multi-message {
  margin-top: 7em;
}

.Institutions .missing-leis ul {
  list-style-type: disc;
  margin-left: 2rem;
}
