.Institutions .institution .status {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.Institutions .institution .status h4 {
  font-size: 1.1em;
  margin: 1.5em 0 0;
}

.Institutions .institution .status p {
  margin: 0;
}
