@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/sourcesanspro-regular-webfont.woff);
}
@font-face {
  font-family: SourceSansProBold;
  src: url(./fonts/sourcesanspro-bold-webfont.woff);
}
@font-face {
  font-family: SourceSansProItalic;
  src: url(./fonts/sourcesanspro-italic-webfont.woff);
}
.floatingIcon.LoadingIconWrapper {
  position: absolute;
  left: 50%;
  margin-top: 2em;
  margin-left: -1.5em;
}
html {
  box-sizing: border-box;
  font-family: SourceSansPro;
  font-size: 10px;
  min-height: 100%;
  position: relative;
}

.button-link {
  font-family: inherit;
  font-weight: inherit;
  color: #0071bc;
  background: none;
  text-decoration: underline;
  padding: 0;
}

.button-link:hover {
  background: none;
  color: #205493;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0 0 350px;
  padding: 0;
  font-family: SourceSansPro;
  font-size: 1.7rem;
}
.skipnav {
  background: transparent;
  color: #212121;
  left: 0;
  padding: 1rem 1.5rem;
  position: absolute;
  top: -4.2rem;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  color: #0071bc;
  text-decoration: underline;
}
a:visited {
  color: #4c2c92;
}
a:hover,
a:active {
  color: #205493;
}

p {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SourceSansProBold;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #d6d7d9;
  margin: 1em 0;
  padding: 0;
}

.font-lead {
  font-size: 2rem;
}

.text-small {
  font-size: 1.3rem;
}

.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button,
.button,
button:visited,
.button:visited,
input[type='submit'],
input[type='submit']:visited {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #0071bc;
  border: 0;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: SourceSansProBold;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1;
  margin: 3rem 0 0;
  padding: 1rem 2rem;
}
@media screen and (min-width: 481px) {
  button,
  .button,
  button:visited,
  .button:visited,
  input[type='submit'],
  input[type='submit']:visited {
    width: auto;
  }
}
button:hover,
.button:hover,
button:visited:hover,
.button:visited:hover,
input[type='submit']:hover,
input[type='submit']:visited:hover {
  background-color: #205493;
  color: #ffffff;
}

button:active,
.button:active,
button:visited:active,
.button:visited:active,
input[type='submit']:active,
input[type='submit']:visited:active {
  background-color: #112e51;
  color: #ffffff;
}

button:disabled,
.button:disabled,
button:visited:disabled,
.button:visited:disabled,
input[type='submit']:disabled,
input[type='submit']:visited:disabled {
  background-color: #d6d7d9;
  color: #ffffff;
  pointer-events: none;
}
button:disabled:hover,
.button:disabled:hover,
button:disabled:active,
.button:disabled:active,
button:disabled:focus,
.button:disabled:focus,
button:visited:disabled:hover,
.button:visited:disabled:hover,
button:visited:disabled:focus,
.button:visited:disabled:focus,
button:visited:disabled:active,
.button:visited:disabled:active,
input[type='submit']:disabled:hover,
input[type='submit']:disabled:active,
input[type='submit']:disabled:focus,
input[type='submit']:visited:disabled:hover,
input[type='submit']:visited:disabled:focus,
input[type='submit']:visited:disabled:active {
  background-color: #d6d7d9;
  color: #ffffff;
}

.usa-grid,
.usa-grid-full {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}
.usa-grid::after,
.usa-grid-full::after {
  clear: both;
  content: '';
  display: block;
}

.usa-grid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media screen and (min-width: 600px) {
  .usa-grid {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

.usa-grid-full {
  padding: 0;
}

@media screen and (min-width: 600px) {
  .usa-width-one-whole {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .usa-width-one-whole:last-child {
    margin-right: 0;
  }

  .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .usa-width-one-half:last-child {
    margin-right: 0;
  }

  .usa-width-one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .usa-width-one-third:last-child {
    margin-right: 0;
  }

  .usa-width-two-thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .usa-width-two-thirds:last-child {
    margin-right: 0;
  }

  .usa-width-one-fourth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .usa-width-one-fourth:last-child {
    margin-right: 0;
  }
  .usa-width-one-fourth:nth-child(2n) {
    margin-right: 0;
  }

  .usa-width-three-fourths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .usa-width-three-fourths:last-child {
    margin-right: 0;
  }

  .usa-width-one-sixth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .usa-width-one-sixth:last-child {
    margin-right: 0;
  }
  .usa-width-one-sixth:nth-child(3n) {
    margin-right: 0;
  }

  .usa-width-five-sixths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .usa-width-five-sixths:last-child {
    margin-right: 0;
  }

  .usa-width-one-twelfth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .usa-width-one-twelfth:last-child {
    margin-right: 0;
  }
  .usa-width-one-twelfth:nth-child(3n) {
    margin-right: 0;
  }

  .usa-width-five-twelfths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .usa-width-five-twelfths:last-child {
    margin-right: 0;
  }

  .usa-width-seven-twelfths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .usa-width-seven-twelfths:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1201px) {
  .usa-width-one-whole {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
  }
  .usa-width-one-whole:last-child {
    margin-right: 0;
  }

  .usa-width-one-half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .usa-width-one-half:last-child {
    margin-right: 0;
  }

  .usa-width-one-third {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  .usa-width-one-third:last-child {
    margin-right: 0;
  }

  .usa-width-two-thirds {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
  }
  .usa-width-two-thirds:last-child {
    margin-right: 0;
  }

  .usa-width-one-fourth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .usa-width-one-fourth:last-child {
    margin-right: 0;
  }
  .usa-width-one-fourth:nth-child(2n) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .usa-width-one-fourth:nth-child(2n):last-child {
    margin-right: 0;
  }
  .usa-width-one-fourth:nth-child(4n) {
    margin-right: 0;
  }

  .usa-width-three-fourths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
  }
  .usa-width-three-fourths:last-child {
    margin-right: 0;
  }

  .usa-width-one-sixth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .usa-width-one-sixth:last-child {
    margin-right: 0;
  }
  .usa-width-one-sixth:nth-child(3n) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%;
  }
  .usa-width-one-sixth:nth-child(3n):last-child {
    margin-right: 0;
  }
  .usa-width-one-sixth:nth-child(6n) {
    margin-right: 0;
  }

  .usa-width-five-sixths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
  }
  .usa-width-five-sixths:last-child {
    margin-right: 0;
  }

  .usa-width-one-twelfth {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
  }
  .usa-width-one-twelfth:last-child {
    margin-right: 0;
  }
  .usa-width-one-twelfth:nth-child(3n) {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 6.17215%;
  }
  .usa-width-one-twelfth:nth-child(3n):last-child {
    margin-right: 0;
  }
  .usa-width-one-twelfth:nth-child(12n) {
    margin-right: 0;
  }

  .usa-width-five-twelfths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%;
  }
  .usa-width-five-twelfths:last-child {
    margin-right: 0;
  }

  .usa-width-seven-twelfths {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%;
  }
  .usa-width-seven-twelfths:last-child {
    margin-right: 0;
  }
}
.usa-end-row {
  margin-right: 0;
}

.usa-offset-one-twelfth {
  margin-left: 8.5298%;
}

.usa-offset-one-sixth {
  margin-left: 17.05961%;
}

.usa-offset-one-fourth {
  margin-left: 25.58941%;
}

.usa-offset-one-third {
  margin-left: 34.11922%;
}

.usa-offset-five-twelfths {
  margin-left: 42.64902%;
}

.usa-offset-one-half {
  margin-left: 51.17883%;
}

.usa-offset-seven-twelfths {
  margin-left: 59.70863%;
}

.usa-offset-two-thirds {
  margin-left: 68.23843%;
}

.usa-offset-three-fourths {
  margin-left: 76.76824%;
}

.usa-offset-five-sixths {
  margin-left: 85.29804%;
}

.usa-offset-eleven-twelfths {
  margin-left: 93.82785%;
}
