.Filing.App {
  max-width: 100%;
  padding: 0;
  margin: 0 0 0; 
}

/* Add padding only for routes after login */
.Filing.App .Institutions,
.Filing.App .institutions-details,
.Filing.App .SubmissionContainer,
.Filing.App .profile-container {
  padding-bottom: 150px;
}

.Filing.App hr {
  border-top: 1px solid #d6d7d9;
}

.Filing.App ul {
  list-style-type: none;
  padding-left: 0;
}

.Filing.App ul.bulleted-list {
  font-size: 1.6rem;
  list-style-type: disc;
  padding-left: 3rem;
}

.Filing.App ul.bulleted-list li {
  margin-bottom: 0;
}

.Filing.App .Beta {
  margin-bottom: 0;
}

.Filing.App .Announcement {
  max-width: 1040px;
  margin: 0 auto;
}

.Filing.App .lead-paragraph {
  color: #101820;
  font-size: 2rem;
  line-height: normal;
  max-width: 80rem;
}