.Filing.App {
  max-width: 100%;
  padding: 0;
  margin-bottom: 100px;
  margin: 0 0 275px;
}

.Filing.App hr {
  border-top: 1px solid #d6d7d9;
}

.Filing.App ul {
  list-style-type: none;
  padding-left: 0;
}

.Filing.App #main-content {
  padding-bottom: 150px;
}

.Filing.App .Beta {
  margin-bottom: 0;
}

.Filing.App .Announcement {
  max-width: 1040px;
  margin: 0 auto;
}
