.expandable-section:last-of-type {
  margin-bottom: 20px;
}

.expandable-section {
  border: 0;
}

.expandable-section img {
  width: 100%;
}

.expandable-section .heading {
  margin: 0;
  background: whitesmoke;
  border: 1px solid lightgray;
  border-radius: 0;
  color: #555;
  display: block;
  padding: 8px 5px;
  text-align: left;
  width: 100%;
}

.expandable-section.expanded .heading {
  background: whitesmoke;
  border: 1px solid lightgrey;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.expandable-section .heading:hover {
  color: #0071bc;
}

.expandable-section .content {
  background: white;
  border: 1px solid lightgrey;
  padding: 1em 1.3em;
  width: 100%;
}

/* Table CSS within Graphs */
.expandable-section .bold-font {
  font-family: SourceSansProBold;
}