.heading h1,
.heading h2,
.heading h3,
.heading h4 {
  margin-bottom: 0;
}
.heading h4 {
  margin-top: 3em;
}

.heading .font-lead,
.heading p {
  color: #5b616b;
  margin-top: 0;
}

.heading .text-small {
  font-size: 1.6rem;
  max-width: 77rem;
}

.heading.disabled h4 {
  color: #5b616b;
}
