.oc {
  position: relative;
  user-select: text;
  margin-bottom: -1rem;
  transition: height 0.5s ease;
  display: flex;
  align-items: top;
}

.oc .alert {
  margin: 0;
  padding-top: 3rem;
}

.oc .progress {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  user-select: none;
  top: 0;
  right: 0.5em;
  z-index: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.oc .progress button {
  cursor: default;
  position: relative;
  user-select: none;
  margin: 0;
  padding: 3px 6px;
  background: none;
  color: #555;
  border: 1px solid rgba(0, 0, 0, 0);
}

.oc .progress button.clickable {
  cursor: pointer;
}

.oc .progress button.clickable:hover,
.oc .progress button.clickable:focus-visible {
  background: #ddd;
  border: 1px solid darkgrey;
  color: black;
}

.oc .progress button.pause svg {
  width: 10px;
  height: 10px;
}

.oc .progress button.pause svg * {
  fill: #555;
  stroke: #555;
}

.oc .progress button.pause:hover svg *,
.oc .progress button.pause:focus-visible svg * {
  fill: #000;
  stroke: black;
}

.oc .progress button.clickable:active {
  background: #fff;
}

.oc-option {
  position: relative;
  user-select: text;
  flex-basis: 100%;
}

.oc-option.inline {
  margin-left: 25px;
}

.oc-option:before {
  background: #dfb753;
  border-radius: 100%;
  content: '!';
  font-size: 1.5rem;
  font-weight: bold;
  left: -25px;
  position: absolute;
  text-align: center;
  width: 20px;
}

.oc-option.no-icon:before {
  background: none;
  border-radius: inherit;
  content: '';
}

.oc .clickable .oc-option:hover {
  cursor: pointer;
  background: #ccc;
}

.oc-option-custom {
  width: 80%;
  border: 2px solid transparent;
  font-family: 'SourceSansPro';
  font-size: 15px;
  color: rgb(91, 97, 107);
  margin-left: 0;
}

.oc-option-custom:focus {
  border: 2px solid grey;
}

.oc-button {
  margin: 0;
  font-size: 1rem;
  padding: 0.75rem;
  margin-left: 1rem;
  line-height: inherit;
}
