.simple-sort-table-container .cursor-pointer {
  cursor: pointer;
}

.simple-sort-table-container .select-none {
  user-select: none;
}

.simple-sort-table-container .Pills {
  display: inline-block;
}

.simple-sort-table-container .PillClose {
  cursor: pointer;
}

.simple-sort-table .sort-icon {
  padding-left: 0.5em;
  vertical-align: middle;
  font-size: 1em;
}
