/* FAQ Table of Contents */
.toc-container {
  position: sticky !important;
  position: -webkit-sticky; /* For Safari */
  margin-top: 10px;
  padding-top: 5px;
  max-height: calc(100vh - 40px);
  top: 0;
  width: 250px;
  margin-right: 5px;
  margin-left: 0px;
  overflow: auto;
}

.toc-container ul {
  margin-top: 40px;
  padding: 0;
}

.toc-container ul li {
  list-style-type: none;
}

.toc-container li a {
  text-decoration: none;
  color: black;
}

.toc-container .highlight {
  border-style: solid;
  border-left-color: #0071bc;
  border-left-width: 4px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  padding-left: 4px;
  transition: all 1s ease-in;
}

.toc-container .header {
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
}

.toc-container .subheader {
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: normal;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
