.YearSelector {
  margin-top: 1.8em;
}

.YearSelector a {
  color: #212121;
  font-family: SourceSansProBold;
  margin-right: 1em;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
}

.filing-year-selector {
  margin-right: 10px;
}

.App .YearSelector h4 {
  margin-bottom: 0.33em;
}

.YearSelector span {
  display: block;
}
.YearSelector a:visited {
  color: #212121;
}
.YearSelector a:hover {
  color: #0071bc;
  border-bottom: 2px dotted;
}
.YearSelector a:last-child {
  margin-right: 0;
}
.YearSelector a.active {
  border-bottom: 2px solid;
  color: #0071bc;
}

.YearSelector.standalone {
  margin-top: none;
}

.YearSelector.standalone a {
  font-size: 1em;
}
