.DynamicDataset {
  margin: 0 auto;
  max-width: 1040px;
}

.DynamicDataset .header {
  border-bottom: none;
}

.DynamicDataset h1 {
  font-size: 4rem;
  margin-top: 1.5em;
}

.DynamicDataset .font-lead {
  font-size: 2rem;
  max-width: 77rem;
}

.DynamicDataset .grid {
  align-items: stretch;
  display: flex;
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 0 3rem 0;
}
.DynamicDataset .item {
  flex: 1;
  margin: 0 20px;
}
.DynamicDataset .item:first-child {
  margin-left: 0;
}
.DynamicDataset .item:last-child {
  margin-right: 0;
}

.DynamicDataset #UpdateSchedule {
  margin: 2em 0;
}

.DynamicDataset #UpdateSchedule tr * {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.DynamicDataset #UpdateSchedule tr .icon {
  margin-right: 7px;
  font-size: 1.2em;
  vertical-align: middle;
}

.DynamicDataset #UpdateSchedule tr .message {
  margin-right: 15px;
}

.DynamicDataset .updated svg {
  fill: #0093bc;
}

.DynamicDataset .notUpdated + .message {
  font-weight: bold;
}

.DynamicDataset .notUpdated svg {
  fill: rgb(255, 126, 126);
}
