.Report {
  margin-top: 2em;
  padding: 0 1em;
  overflow-x: auto;
}
.Report .alert {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 3rem;
}

.Report .report-date {
  color: #5b616b;
  font-size: 1.3rem;
  text-align: right;
}

.Report .heading {
  border-bottom: none;
  margin: 0 auto;
  max-width: 1040px;
}

.Report .heading h3 {
  margin-top: 0;
}
.Report .heading p {
  margin-bottom: 0;
}

.Report table {
  font-size: 0.75em;
  margin-top: 3em;
}

.Report table thead th {
  font-family: SourceSansProBold;
  text-align: center;
}

.Report table td {
  text-align: right;
}

.Report table tfoot th,
.Report table tfoot td {
  border-top: 2px solid;
}

.Report table tfoot th {
  font-weight: bold;
  text-transform: uppercase;
}

.Report .table-large td,
.Report .table-large th {
  padding: 0.5rem 1rem;
}

.Report .narrowTable {
  max-width: 980px;
  margin: 3em auto 0;
}

/* react-paginate package CSS */

.react-paginate {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1040px;
  display: flex;
}

.react-paginate li:hover {
  cursor: pointer;
}

.react-paginate li {
  list-style: none;
  padding: 2px 8px;
  background-color: #0071bc;
}

.react-paginate li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.react-paginate li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

.react-paginate li a {
  text-decoration: none;
  color: white;
}

/* activeClassName */
.react-paginate-active {
  background-color: white !important;
  border-top: 1px solid #0071bc;
  border-bottom: 1px solid #0071bc;
}

.react-paginate-active a {
  color: black !important;
}
