.Report {
  margin-top: 2em;
  padding: 0 1em;
  overflow-x: auto;
}
.Report .alert {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 3rem;
}

.Report .report-date {
  color: #5b616b;
  font-size: 1.3rem;
  text-align: right;
}

.Report .heading {
  border-bottom: none;
  margin: 0 auto;
  max-width: 1040px;
}

.Report .heading h3 {
  margin-top: 0;
}
.Report .heading p {
  margin-bottom: 0;
}

.Report table {
  font-size: 0.75em;
  margin-top: 3em;
}

.Report table thead th {
  font-family: SourceSansProBold;
  text-align: center;
}

.Report table td {
  text-align: right;
}

.Report table tfoot th,
.Report table tfoot td {
  border-top: 2px solid;
}

.Report table tfoot th {
  font-weight: bold;
  text-transform: uppercase;
}

.Report .table-large td,
.Report .table-large th {
  padding: 0.5rem 1rem;
}

.Report .narrowTable {
  max-width: 980px;
  margin: 3em auto 0;
}
