#submissions h2 {
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 2em;
}

#submissions #SubmissionResults {
  width: 100%;
  margin: 3rem 0 5rem 0;
}

#submissions #SubmissionResults .split {
  width: 40%;
}

#submissions #SubmissionResults th,
#submissions #SubmissionResults td {
  border: 1px solid grey;
}

#submissions #SubmissionResults th:not(:first-child) {
  border-left: none;
}

#submissions #SubmissionResults th:not(:last-child) {
  border-right: none;
}

#submissions #SubmissionResults th {
  text-align: center;
  text-transform: uppercase;
}

#submissions #SubmissionResults .submission-row .period {
  width: 15%;
  text-align: center;
}

#submissions #SubmissionResults .submission-row .label {
  font-weight: bold;
  width: 25%;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

#submissions #SubmissionResults .submission-row .link:hover {
  text-decoration: underline;
}

#submissions #SubmissionResults .submission-row .link {
  cursor: pointer;
  color: #0071bc;
}

#submissions #SubmissionResults .submission-row .status,
#submissions #SubmissionResults .submission-row .status img,
#submissions
  #SubmissionResults
  .submission-row
  .status
  .LoadingInline.LoadingIconWrapper
  .LoadingIcon {
  height: 20px;
  width: 20px;
}

#submissions .status img {
  margin-left: 10px;
}
#submissions .LoadingIconWrapper {
  padding: 0;
}

#submissions #SubmissionResults .submission-row .message {
  padding: 2.5rem 1rem;
  text-align: center;
  background: lightyellow;
}

#submissions #SubmissionResults .submission-row .message.err {
  background: #f2ccd2;
}

#submissions #SubmissionResults .submission-row .col {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#submissions #SubmissionResults .submission-row .col:not(:last-child) {
  margin-bottom: 1.5rem;
}
