.Tools.App .font-lead {
  font-size: 2rem;
  line-height: 1.7;
  max-width: 77rem;
}

.Tools .home .card {
  flex: 1 1 300px;
  margin: 1rem 60px 3rem 0;
}

.Tools #main-content .grid .item {
  flex: 1 1 450px;
  margin: 3rem 0;
  padding-right: 75px;
}

@media print {
  .Tools #main-content {
    width: 100%;
  }

  .Tools #main-content .grid .item {
    flex: 0 450px;
    margin: 3rem 0;
    padding-right: 75px;
  }
}
