.Tools.App .font-lead {
  font-size: 2rem;
  line-height: 1.7;
  max-width: 77rem;
}

.Tools .home .card {
  flex: 1 1 300px;
  margin: 3rem 60px 3rem 0;
}

.text-small {
  font-size: 1.3rem;
}

#main-content .grid .item {
  flex: 1 1 450px;
  margin: 3rem 0;
  padding-right: 75px;
}
